@font-face {
	font-family: 'Lexend';
	src: url('/assets/font/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
}
$dark-color:#1B1C57;
$light--dark-color:#626687;
$white-color:#F0F3FD;
$primary-color:#047857;
$secondary-color:#10B981;
$light--primary-color:#D1FAE5;
$yellow-color:#F59E0B;
$gray-color:#E0E3EB;
$skeloton-title:#f2f8fc;
$skeloton-box:#e0e7ed;